/*
    Children height: 400px
    Spacing between children: 40px;
*/

.container {
    --index: 0;
    --middle-point: calc(100vh / 2);
    --children-height: min(400px, 50vh);
    --center-const: calc(var(--middle-point) - calc(calc(var(--children-height) / 2) + 20px));

    width: calc(100vw - 12rem);
    padding: 0 10rem;

    position: absolute;
    top: 0;
    left: 0;

    transition: transform 1s cubic-bezier(0.28, 1.05, 0.57, 0.94);
    will-change: transform;
    transform: translateY(
        calc(calc(var(--index) * calc(-1 * calc(var(--children-height) + 40px))) + var(--center-const))
    );
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100vw - 6rem);
        padding: 0 3rem;
    }
}
